{% extends 'base.html' %}
{% load static %}



<!-- title block -->
{% block title %}
<title>Application Dashboard</title>
{% endblock title %}



{% include 'message.html' %}

<!-- body block  -->
{% block body %}

<!-- navigation bar  -->
{% include 'navbar.html' %}

<!-- vpn dashboard start from here  -->

<!-- main container  -->
<div class="container-fluid">

    <!-- heading container  -->
    <div class="container-xxl my-5 text-center text-light ">
        <h1 class="display-4">Applications </h1>
    </div>


    <!-- add vpn button  -->
    <div class="container-xxl text-end">
        <a href="#" class="btn btn-primary" id="addnew">ADD NEW</a>
    </div>


    <!-- dashboard container  -->
    <div class="container-xxl my-4 p-3 bg-light rounded-3 shadow">

        <table class="table table-hover">
            <thead>
                <th style="width: 20%;">Logo</th>
                <th style="width: 20%;">App Name</th>
                <th style="width: 20%;">Package Name</th>
                <th style="width: 20%;">Vpn Server Location</th>

                <th style="width: 20%;">Action</th>

            </thead>

            <tbody>

                <!-- add apps section start from here  -->
                <tr id="addapps_row">

                    <form action="{% url 'appdashboard' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- logo upload  -->
                        <td>
                            <input type="file" name="applogo" id="applogo" class="form-control" required>
                        </td>

                        <!-- app name  -->
                        <td>
                            <input type="text" name="appname" id="appname" class="form-control" required>
                        </td>

                        <!-- package name  -->
                        <td>
                            <input type="text" name="packagename" id="packagename" class="form-control" required>
                        </td>

                        <!-- vpn server   -->
                        <td>
                            <!-- <select name="vpnserver" id="vpnserver" class="form-select" aria-multiselectable="multiple">
                                <option value="">Select Vpn Server</option>
                                {% for vpn in allvpn %}
                                <option value="{{vpn.countryshorts}}">{{vpn.countryshorts}}</option>
                                {% endfor %}
                                
                            </select> -->

                            <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle border w-100" type="button"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Server
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">

                                    {% for vpn in allvpnregion %}

                                    <li class="px-3"><input type="checkbox" onclick="CheckAppBtn('{{vpn}}')"
                                            class="chkvalue" value="{{vpn}}" id="{{vpn}}"><span
                                            class="ps-2">{{vpn}}</span></li>
                                    {% endfor %}

                                    <input type="text" name="vpnserver" id="vpnserver" hidden>
                                </ul>
                            </div>



                        </td>



                        <!-- Add App Btn   -->
                        <td>
                            <input type="submit" value="ADD APP " class="btn btn-success" onclick="addappsBtn()">
                            <a href="{% url 'appdashboard' %}" class="btn btn-secondary">Cancel</a>
                        </td>

                    </form>
                </tr>
                <!-- add apps section end here  -->



                <!-- show all apps from here  -->
                {% for app in allapps %}

                <tr id="">
                    <!-- show applogo  -->
                    <td>
                        <img src="{{app.applogo.url}}" alt="No Logo" class="" height="50px">
                    </td>

                    <!-- show appname  -->
                    <td>{{app.appname}}</td>

                    <!-- show packagename  -->
                    <td>{{app.packagename}}</td>

                    <!-- show vpn server  -->
                    <td>

                        <div class="dropdown">
                            <input type="text" value="{{app.vpnserver}}" class="form-control dropdown-toggle"
                                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" readonly
                                onclick="showDrops('{{app.vpnserver}}' , '{{app.id}}' , {{allvpnregion}})">

                            <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1" id="{{app.id}}">

                            </ul>
                        </div>

                    </td>



                    <!-- show action button -->
                    <td id="div{{app.id}}">
                        <a href="{% url 'UpdateApp' app.id %}"><img src="{% static 'Logo/update.png' %}"
                                alt="No dlt Icon"></a>

                        <form action="{% url 'DeleteApp' app.id %}" onsubmit="return deleteBtn()"
                            style="display: inline-block;">
                            <!-- <a href=""><img src="{% static 'Logo/delete.png' %}" alt="No dlt Icon"></a> -->

                            <button style="border: none;" type="submit"><img src="{% static 'Logo/delete.png' %}"
                                    alt="No dlt Icon"></button>
                        </form>
                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td>No Logo</td>
                    <td>No Data</td>
                    <td>No Data</td>
                    <td>No Data</td>
                    <td>No Server Selected</td>
                </tr>

                {% endfor %}
                <!-- show all apps end here  -->




            </tbody>



        </table>

    </div>


</div>






{% endblock body %}



<!-- js block  -->
{% block js %}

<script>
    function deleteBtn() {
        var x = confirm('Are You Sure You Want To Delete This App ?');

        if (x == true) {
            return true;
        }
        else {
            return false;
        }
    }


</script>

<!-- add new app featur  -->

<script>

    $('#addapps_row').hide()

    $('#addnew').click(function () {
        $('#addapps_row').show()
    })



    // add app section 
    // first function is used to get the checked boc values the second function is used to post the data 
    var val = []
    function CheckAppBtn(vpn) {
        try {
            var checkedValue = document.querySelector(`#${vpn}:checked`).value;
            // val += checkedValue
            val.push(checkedValue)
        }
        catch {
            console.log('unchecked')
        }
        // console.log(val)
    }

    // this function is used to add vpn server checked  data 
    var vpnserver = document.getElementById('vpnserver');
    function addappsBtn() {
        // vpnserver.value = '';
        vpnserver.value = val;
        val = []

    }


    // app dashboard search vpn Drpdown 
    function showDrops(dropdata, id, allvpn) {
        // window.location = '/appdashboard/'
        var droparray = dropdata.split(",");
        var ul = document.getElementById(id);
        var div = document.getElementById('div' + id);

        var li = '';
        // console.log(droparray)

        // get the unchecked array 
        let difference = allvpn.filter(x => !droparray.includes(x));
        console.log(' unchecked vpns :', difference)

        // display all the checked vpn 
        for (var i = 0; i < droparray.length; i++) {
            li += `
            <li class="px-3"><input type="checkbox" class="searchchkvalue" value="${droparray[i]}" id="${droparray[i]}" checked><span class="ps-2">${droparray[i]}</span></li>
            `
        }

        // display all the unchecked vpn 
        for (var i = 0; i < difference.length; i++) {
            li += `
            <li class="px-3"><input type="checkbox" class="searchchkvalue" value="${difference[i]}" id="${difference[i]}" ><span class="ps-2">${difference[i]}</span></li>
            `
        }

        ul.innerHTML = li

        // display save button 
        div.innerHTML = `<a href="/appdashboard/" class="btn btn-success px-4" onclick="GetSearchBoxData('${id}' , '${allvpn}')">Save</a>`
    }


    // get all search box checked data 
    // get all the selected value from search check box 
    function GetSearchBoxData(id, allvpn) {
        var checkdValue = []

        // convert string data into array 
        var allvpnarray = allvpn.split(",");
        console.log('application Id', id)
        // console.log('allvpn ',allvpnarray , typeof(allvpnarray))
        // console.log(`#vpn${id}:checked`)

        for (var i = 0; i < allvpnarray.length; i++) {
            // console.log(allvpnarray[i])
            try {
                var checkedsearchValue = document.querySelector(`#${allvpnarray[i]}:checked`).value;
                checkdValue.push(checkedsearchValue)
            }
            catch {
                console.log('unchecked')
            }
        }
        // alert(checkdValue)

        // call api to update dropdown options 

        // axios.put(`http://192.168.0.181:8000/api/update-vpn-server/${id}/`,
        //     {
        //         headers: {
        //             'Authorization': '574716c50ebc853957ccef06a932510907adcd4c' //the token is a variable which holds the token
        //         }

        //     }).then((resp) => {
        //         alert(resp.data)
        //     })
        //     .catch((err) => {
        //         alert(err)
        //     })
        // var fd = new FormData();
        // fd.append('vpnserver' ,checkdValue );
        // fd.append('csrfmiddlewaretoken','{{csrf_token}}');

        let formd  ={
            'vpnserver':checkdValue.toString(),
            'csrfmiddlewaretoken':'{{csrf_token}}'

        }

        axios.put(`http://192.168.0.181:8000/api/update-vpn-server/${id}/`, formd , {
            headers: {
                'Authorization': 'token 574716c50ebc853957ccef06a932510907adcd4c'
            }
        }
        ).then((resp) => {
            console.log(resp.data)
                alert(resp.data['status'] )
            })
            .catch((err) => {
                alert(err)
            })


    }






</script>


{% endblock js %}

<!-- css block -->
{% block css %}
{% endblock css %}