
{% load static %}





<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'vpndashboard' %}">
      <img src="{% static 'Images/vpn.png' %}" alt="No Logo" height="45px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'vpndashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'appdashboard' %}">Apps</a>
        </li>
        
        
      </ul>
      <form class="d-flex me-4">
        <img src="{% static 'Logo/usericon.png' %}" alt="no usericon" class="navbar-brand me-1" height="45rem">
        
        
        <p class="nav-link">{{user}}</p>
        <a class="" aria-current="page" href="{% url 'signout' %}" id="logoutBtn" style="text-decoration: none;"><img class="navbar-brand" src="{% static 'Logo/Logout.png' %}" alt="No logo"></a>

        
      </form>
    </div>
  </div>
</nav>